/* 
  Primary color : #9bdcd3  (blue) 
  Secondary color: #eb1e29 (red)
*/
body {
  background-color: rgb(19, 3, 3);
}

h2,
h3,
h4,
h5 {
  color: #9bdcd3;
  font-family: fantasy;
}

.welcome-style {
  margin: 20px;
  padding: 20px;
}

.header-logo-1 {
  width: 50px;
}

.header-logo-2 {
  width: 100px;
}

.search-layout {
  width: 100%;
  display: flex;
}

.search-layout-child {
  display: flex;
}

.style-table {
  margin: 5px 20px 25px;
  padding: 5px 20px 15px;
}

playlist-control {
  margin-left: 10px;
  margin-right: 10px;
}

i {
  margin-right: 20px;
}

i:hover {
  cursor: pointer;
  /* margin: 10px 0px; */
}

td i:hover {
  text-decoration: none;
  color: #ffc107
}

.customize-player {
  width: 700px;
  background-color: #ffc107;
}

audio::-webkit-media-controls-panel {
  background-color: #ffc107;
  bottom: 0;
  border-radius: 0px;
  height: 100%;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0px;
  height: 100%;
  width: 100%;
  color: white;
}

.customize-player {
  width: 100%;
}

audio::-webkit-media-controls-timeline {

  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
}

.media-control {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 140px;
  z-index: 1000;
  padding-bottom: 20px;
}

.media-control2 {
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 120px;
  z-index: 1000;
  padding-bottom: 20px;
}

.media-control2 * {
  margin-left: 10px;
  margin-right: 10px;

}

.music-player {
  background-color: #9bdcd3;
  z-index: 999;
  width: 100%;
  display: inline-block;
  position: fixed;
  bottom: 0;
}

.shuffle-active {
  padding: 10px;
  margin-bottom: -10px;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #725706;
}

.now-playing {
  font-weight: bold;
}